<!doctype html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="Louez un vélo à Toulouse en 2 clics dans l'une de nos stations.">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!--style-->
        <link rel="stylesheet" type="text/css" href="../public/css/style.css">
        <!--favicon-->
        <link rel="shortcut icon" type="img/png" href=""/>
        <!--Roboto-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <!--Merriweather-->
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <!--Fontawesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        <title>Jean Forteroche - Site officiel</title>
    </head>

    <body>
        <div class="page">
            <span class="menu_toggle">
              <i class="menu_open fa fa-bars fa-lg"></i>
              <i class="menu_close fa fa-times fa-lg"></i>
            </span>
            <ul class="menu_items">
                <li><a href="home.html"><i class="icon fa fa-home fa-2x"></i><span> Accueil</span></a></li>
                <li><a href="biography.html"><i class="icon fas fa-portrait fa-2x"></i><span> Biographie</span></a></li>
                <li><a href="blog.html"><i class="icon fa fa-blog fa-2x"></i><span> Blog</span></a></li>
            </ul>
            <main class="content">
                <section id="biographyPage">
                    <div id="header">
                        <div id="darkModeDiv">
                            <span>dark mode</span>
                            <input type="checkbox" name=""id="darkModeButton">
                        </div>
                        <div id="connexionButton">
                            <a id="connexionLink" href="#" data-title="Se connecter">Se connecter</a>
                        </div>
                    </div>
                    <div id="blogPageContent">
                        <div id="blogTitle">
                            <h1>UN BILLET SIMPLE <br/>POUR L'ALASKA</h1>
                            <h3>TOUS LES CHAPITRES</h3>
                        </div>
                        <id id="chapters">
                            <div class="chaptersDiv">
                                <div class="chap6Img chaptersImg"></div>
                                <div class="chaptersDivContent">
                                    <p class="chaptersP">
                                        "Though, the objectives of the interpretation of
                                        the coherent software can be neglected in most cases,
                                        it should be realized that a significant portion of
                                        the essence must be compatible with The Interference
                                        of Corporate Crash" ...
                                    </p>
                                    <span class="chaptersDatetime">18/06/1983</span>
                                    <h4 class='chaptersH4'>Chapitre 6 : Peine de mort</h4>
                                    <a id="pageLink6" class="pageLink" href="chapitre.html">LIRE LE CHAPITRE<i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                            <div class="chaptersDiv">
                                <div class="chap5Img chaptersImg"></div>
                                <div class="chaptersDivContent">
                                    <p class="chaptersP">
                                        "Though, the objectives of the interpretation of
                                        the coherent software can be neglected in most cases,
                                        it should be realized that a significant portion of
                                        the essence must be compatible with The Interference
                                        of Corporate Crash" ...
                                    </p>
                                    <span class="chaptersDatetime">18/06/1983</span>
                                    <h4 class='chaptersH4'>Chapitre 5 : Manger ou être mangé</h4>
                                    <a id="pageLink5" class="pageLink" href="chapitre.html">LIRE LE CHAPITRE<i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                            <div class="chaptersDiv">
                                <div class="chap4Img chaptersImg"></div>
                                <div class="chaptersDivContent">
                                    <p class="chaptersP">
                                        "Though, the objectives of the interpretation of
                                        the coherent software can be neglected in most cases,
                                        it should be realized that a significant portion of
                                        the essence must be compatible with The Interference
                                        of Corporate Crash" ...
                                    </p>
                                    <span class="chaptersDatetime">18/06/1983</span>
                                    <h4 class='chaptersH4'>Chapitre 4 : On the road again</h4>
                                    <a id="pageLink4" class="pageLink" href="chapitre.html">LIRE LE CHAPITRE<i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                            <div class="chaptersDiv">
                                <div class="chap3Img chaptersImg"></div>
                                <div class="chaptersDivContent">
                                    <p class="chaptersP">
                                        "Though, the objectives of the interpretation of
                                        the coherent software can be neglected in most cases,
                                        it should be realized that a significant portion of
                                        the essence must be compatible with The Interference
                                        of Corporate Crash" ...
                                    </p>
                                    <span class="chaptersDatetime">18/06/1983</span>
                                    <h4 class='chaptersH4'>Chapitre 3 : Une âme perdue</h4>
                                    <a id="pageLink3" class="pageLink" href="chapitre.html">LIRE LE CHAPITRE<i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                            <div class="chaptersDiv">
                                <div class="chap2Img chaptersImg"></div>
                                <div class="chaptersDivContent">
                                    <p class="chaptersP">
                                        "Though, the objectives of the interpretation of
                                        the coherent software can be neglected in most cases,
                                        it should be realized that a significant portion of
                                        the essence must be compatible with The Interference
                                        of Corporate Crash" ...
                                    </p>
                                    <span class="chaptersDatetime">18/06/1983</span>
                                    <h4 class='chaptersH4'>Chapitre 2 : Prendre de la hauteur</h4>
                                    <a id="pageLink2" class="pageLink" href="chapitre.html">LIRE LE CHAPITRE<i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                            <div class="chaptersDiv">
                                <div class="chap1Img chaptersImg"></div>
                                <div class="chaptersDivContent">
                                    <p class="chaptersP">
                                        "Though, the objectives of the interpretation of
                                        the coherent software can be neglected in most cases,
                                        it should be realized that a significant portion of
                                        the essence must be compatible with The Interference
                                        of Corporate Crash" ...
                                    </p>
                                    <span class="chaptersDatetime">18/06/1983</span>
                                    <h4 class='chaptersH4'>Chapitre 1 : Un vrai défi</h4>
                                    <a id="pageLink1" class="pageLink" href="chapitre.html">LIRE LE CHAPITRE<i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                            <div id="nextChapter">
                                <h3 id="nextChapterP">Le prochain chapitre sera bientôt disponible ...
                                </h3>
                            </div>
                        </div>
                    </div>
                </section>

                <footer>
                    <p>Copyright © 2020 Julien Dalla Santa | Projet réalisé dans le cadre d'une formation Openclassrooms | <a href="">Mentions légales.</a></p>
                </footer>

            </main>
          </div>

        <section id="rgpd">
                <p>Nous utilisons des cookies pour vous garantir la meilleure expérience utilisateur sur notre site.
                    En continuant d'utiliser ce site, vous acceptez l'utilisation de ces cookies.
                </p>
                <input type="submit" name="cookiesOk" id="cookiesOk" value="OK">
        </section>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="../public/js/main.js"></script>
        <script src="../public/js/localstorage.js"></script>
        <script src="../public/js/chapitre.js"></script>
        <script src="../public/js/admin.js"></script>
    </body>
</html>
