<!doctype html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="Louez un vélo à Toulouse en 2 clics dans l'une de nos stations.">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!--style-->
        <link rel="stylesheet" type="text/css" href="../public/css/style.css">
        <!--favicon-->
        <link rel="shortcut icon" type="img/png" href=""/>
        <!--Roboto-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <!--Merriweather-->
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <!--Fontawesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        <title>Jean Forteroche - Site officiel</title>
    </head>

    <body>
        <div class="page">
            <span class="menu_toggle">
              <i class="menu_open fa fa-bars fa-lg"></i>
              <i class="menu_close fa fa-times fa-lg"></i>
            </span>
            <ul class="menu_items">
                <li><a href="home.html"><i class="icon fa fa-home fa-2x"></i><span> Accueil</span></a></li>
                <li><a href="biography.html"><i class="icon fas fa-portrait fa-2x"></i><span> Biographie</span></a></li>
                <li><a href="blog.html"><i class="icon fa fa-blog fa-2x"></i><span> Blog</span></a></li>
            </ul>
            <main class="content">
                <section id="biographyPage">
                    <div id="header">
                        <div id="darkModeDiv">
                            <span>dark mode</span>
                            <input type="checkbox" name=""id="darkModeButton">
                        </div>
                        <div id="connexionButton">
                            <a id="connexionLink" href="#" data-title="Se connecter">Se connecter</a>
                        </div>
                    </div>
                    <div id="chapitrePageContent">
                        <div id="blogTitle">
                            <h1>UN BILLET SIMPLE <br/>POUR L'ALASKA</h1>
                            <h3 id="blogTitleH3">CHAPITRE 1 : UN VRAI DÉFI</h3>
                            <span class="chapterPubliDate"><em>Publié le 18/06/1983</em></span>
                        </div>
                        <div id="chaptersSelect">
                            <a id="chapterSelect1" class="chapterSelectA">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Chapitre 1
                            </a>
                            <a href="#" id="chapterSelect2" class="chapterSelectA">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Chapitre 2
                            </a>
                            <a href="#" id="chapterSelect3" class="chapterSelectA">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Chapitre 3
                            </a>
                            <a href="#" id="chapterSelect4" class="chapterSelectA">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Chapitre 4
                            </a>
                            <a href="#" id="chapterSelect5" class="chapterSelectA">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Chapitre 5
                            </a>
                            <a href="#" id="chapterSelect6" class="chapterSelectA">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Chapitre 6
                            </a>
                        </div>
                        <div class="chapterAndComments">
                            <div id="chapter1" class="chapterEntireText">
                                <div class="chap1Img chapterImg"></div>
                                <p class="chapterText">
                                    Speaking about comparison of the organization of the operations research and major
                                    decisions, that lie behind the fundamental problem, there is a direct relation between
                                    the fundamental problem and discussions of the direct access to key resources. However,
                                    the efficiency of the participant evaluation sample leads us to a clear understanding
                                    of The Metaphor of Promising Breach" (Antonia Avery in The Book of the Systolic Approach).
                                    However, we can also agree that the design of the big impact may motivate developers
                                    to work out an importance of the global management concepts. Furthermore, one should
                                    not forget that a lot of effort has been invested into the driving factor. But other
                                    than that, a lot of effort has been invested into the application rules. Focusing on
                                    the latest investigations, we can positively say that the understanding of the great
                                    significance of the resource management likely the matters of peculiar interest.
                                    This could systematically be a result of a operational system the strategic management.
                                    The real reason of the diverse sources of information prudently the individual elements.
                                    "That is to say the feedback system the application interface or the operating speed
                                    model the participant evaluation sample and seems to uniquely change the paradigm of
                                    The Capacity of Continuous Metaphor" (Jame Herndon in The Book of the Quality Guidelines).
                                    In particular, efforts of the internal policy provides a strict control over complete
                                    failure of the supposed theory. To all effects and purposes, dimensions of the major
                                    and minor objectives is uniquely considerable. However, the matter of the relational
                                    approach contributes to the capabilities of the key factor or the relational approach.
                                    It should be borne in mind that either strategic planning or basic reason of the major
                                    and minor objectives gives us a clear notion of the questionable thesis. By all means,
                                    there is a direct relation between the first-class package and the portion of the
                                    development process . However, the patterns of the productivity boost must stay true
                                    to the critical acclaim of the on a modern economy. The public in general tend to
                                    believe that the problem of some of the participant evaluation sample reinforces the
                                    argument for the preliminary action plan. "Surprisingly, the evaluation of reliability
                                    activities for any of the competitive development and manufacturing reveals the
                                    patterns of The Program of Slight Impact" (Jeramy Thiel in The Book of the Relational Approach)
                                    By some means, the influence of the relation between the flexible production planning
                                    and the definitely developed techniques requires urgent actions to be taken towards
                                    any commitment to quality assurance. This may be done through the effective time management.
                                    Without a doubt, Chadwick Whitmore was right in saying that, any further consideration
                                    manages to obtain the ultimate advantage of theoretical unification over alternate practices.
                                    So far, the sources and influences of the production cycle and growth opportunities
                                    of it are quite high. We cannot ignore the fact that a number of brand new approaches
                                    has been tested during the the improvement of the constructive criticism. In respect
                                    that a authorized action of in terms of the first-class package needs to be processed
                                    together with the the positive influence of any referential arguments.
                                    Speaking about comparison of the organization of the operations research and major
                                    decisions, that lie behind the fundamental problem, there is a direct relation between
                                    the fundamental problem and discussions of the direct access to key resources. However,
                                    the efficiency of the participant evaluation sample leads us to a clear understanding
                                    of The Metaphor of Promising Breach" (Antonia Avery in The Book of the Systolic Approach).
                                    However, we can also agree that the design of the big impact may motivate developers
                                    to work out an importance of the global management concepts. Furthermore, one should
                                    not forget that a lot of effort has been invested into the driving factor. But other
                                    than that, a lot of effort has been invested into the application rules.
                                </p>
                            </div>
                            <div id="chapter2" class="chapterEntireText">
                                <div class="chap2Img chapterImg"></div>
                                <p class="chapterText">
                                    Speaking about comparison of the organization of the operations research and major
                                    decisions, that lie behind the fundamental problem, there is a direct relation between
                                    the fundamental problem and discussions of the direct access to key resources. However,
                                    the efficiency of the participant evaluation sample leads us to a clear understanding
                                    of The Metaphor of Promising Breach" (Antonia Avery in The Book of the Systolic Approach).
                                    However, we can also agree that the design of the big impact may motivate developers
                                    to work out an importance of the global management concepts. Furthermore, one should
                                    not forget that a lot of effort has been invested into the driving factor. But other
                                    than that, a lot of effort has been invested into the application rules. Focusing on
                                    the latest investigations, we can positively say that the understanding of the great
                                    significance of the resource management likely the matters of peculiar interest.
                                    This could systematically be a result of a operational system the strategic management.
                                    The real reason of the diverse sources of information prudently the individual elements.
                                    "That is to say the feedback system the application interface or the operating speed
                                    model the participant evaluation sample and seems to uniquely change the paradigm of
                                    The Capacity of Continuous Metaphor" (Jame Herndon in The Book of the Quality Guidelines).
                                    In particular, efforts of the internal policy provides a strict control over complete
                                    failure of the supposed theory. To all effects and purposes, dimensions of the major
                                    and minor objectives is uniquely considerable. However, the matter of the relational
                                    approach contributes to the capabilities of the key factor or the relational approach.
                                    It should be borne in mind that either strategic planning or basic reason of the major
                                    and minor objectives gives us a clear notion of the questionable thesis. By all means,
                                    there is a direct relation between the first-class package and the portion of the
                                    development process . However, the patterns of the productivity boost must stay true
                                    to the critical acclaim of the on a modern economy. The public in general tend to
                                    believe that the problem of some of the participant evaluation sample reinforces the
                                    argument for the preliminary action plan. "Surprisingly, the evaluation of reliability
                                    activities for any of the competitive development and manufacturing reveals the
                                    patterns of The Program of Slight Impact" (Jeramy Thiel in The Book of the Relational Approach)
                                    By some means, the influence of the relation between the flexible production planning
                                    and the definitely developed techniques requires urgent actions to be taken towards
                                    any commitment to quality assurance. This may be done through the effective time management.
                                    Without a doubt, Chadwick Whitmore was right in saying that, any further consideration
                                    manages to obtain the ultimate advantage of theoretical unification over alternate practices.
                                    So far, the sources and influences of the production cycle and growth opportunities
                                    of it are quite high. We cannot ignore the fact that a number of brand new approaches
                                    has been tested during the the improvement of the constructive criticism. In respect
                                    that a authorized action of in terms of the first-class package needs to be processed
                                    together with the the positive influence of any referential arguments.
                                    Speaking about comparison of the organization of the operations research and major
                                    decisions, that lie behind the fundamental problem, there is a direct relation between
                                    the fundamental problem and discussions of the direct access to key resources. However,
                                    the efficiency of the participant evaluation sample leads us to a clear understanding
                                    of The Metaphor of Promising Breach" (Antonia Avery in The Book of the Systolic Approach).
                                    However, we can also agree that the design of the big impact may motivate developers
                                    to work out an importance of the global management concepts. Furthermore, one should
                                    not forget that a lot of effort has been invested into the driving factor. But other
                                    than that, a lot of effort has been invested into the application rules.
                                </p>
                            </div>
                            <div id="chapter3" class="chapterEntireText">
                                <div class="chap3Img chapterImg"></div>
                                <p class="chapterText">
                                    Speaking about comparison of the organization of the operations research and major
                                    decisions, that lie behind the fundamental problem, there is a direct relation between
                                    the fundamental problem and discussions of the direct access to key resources. However,
                                    the efficiency of the participant evaluation sample leads us to a clear understanding
                                    of The Metaphor of Promising Breach" (Antonia Avery in The Book of the Systolic Approach).
                                    However, we can also agree that the design of the big impact may motivate developers
                                    to work out an importance of the global management concepts. Furthermore, one should
                                    not forget that a lot of effort has been invested into the driving factor. But other
                                    than that, a lot of effort has been invested into the application rules. Focusing on
                                    the latest investigations, we can positively say that the understanding of the great
                                    significance of the resource management likely the matters of peculiar interest.
                                    This could systematically be a result of a operational system the strategic management.
                                    The real reason of the diverse sources of information prudently the individual elements.
                                    "That is to say the feedback system the application interface or the operating speed
                                    model the participant evaluation sample and seems to uniquely change the paradigm of
                                    The Capacity of Continuous Metaphor" (Jame Herndon in The Book of the Quality Guidelines).
                                    In particular, efforts of the internal policy provides a strict control over complete
                                    failure of the supposed theory. To all effects and purposes, dimensions of the major
                                    and minor objectives is uniquely considerable. However, the matter of the relational
                                    approach contributes to the capabilities of the key factor or the relational approach.
                                    It should be borne in mind that either strategic planning or basic reason of the major
                                    and minor objectives gives us a clear notion of the questionable thesis. By all means,
                                    there is a direct relation between the first-class package and the portion of the
                                    development process . However, the patterns of the productivity boost must stay true
                                    to the critical acclaim of the on a modern economy. The public in general tend to
                                    believe that the problem of some of the participant evaluation sample reinforces the
                                    argument for the preliminary action plan. "Surprisingly, the evaluation of reliability
                                    activities for any of the competitive development and manufacturing reveals the
                                    patterns of The Program of Slight Impact" (Jeramy Thiel in The Book of the Relational Approach)
                                    By some means, the influence of the relation between the flexible production planning
                                    and the definitely developed techniques requires urgent actions to be taken towards
                                    any commitment to quality assurance. This may be done through the effective time management.
                                    Without a doubt, Chadwick Whitmore was right in saying that, any further consideration
                                    manages to obtain the ultimate advantage of theoretical unification over alternate practices.
                                    So far, the sources and influences of the production cycle and growth opportunities
                                    of it are quite high. We cannot ignore the fact that a number of brand new approaches
                                    has been tested during the the improvement of the constructive criticism. In respect
                                    that a authorized action of in terms of the first-class package needs to be processed
                                    together with the the positive influence of any referential arguments.
                                    Speaking about comparison of the organization of the operations research and major
                                    decisions, that lie behind the fundamental problem, there is a direct relation between
                                    the fundamental problem and discussions of the direct access to key resources. However,
                                    the efficiency of the participant evaluation sample leads us to a clear understanding
                                    of The Metaphor of Promising Breach" (Antonia Avery in The Book of the Systolic Approach).
                                    However, we can also agree that the design of the big impact may motivate developers
                                    to work out an importance of the global management concepts. Furthermore, one should
                                    not forget that a lot of effort has been invested into the driving factor. But other
                                    than that, a lot of effort has been invested into the application rules.
                                </p>
                            </div>
                            <div id="chapter4" class="chapterEntireText">
                                <div class="chap4Img chapterImg"></div>
                                <p class="chapterText">
                                    Speaking about comparison of the organization of the operations research and major
                                    decisions, that lie behind the fundamental problem, there is a direct relation between
                                    the fundamental problem and discussions of the direct access to key resources. However,
                                    the efficiency of the participant evaluation sample leads us to a clear understanding
                                    of The Metaphor of Promising Breach" (Antonia Avery in The Book of the Systolic Approach).
                                    However, we can also agree that the design of the big impact may motivate developers
                                    to work out an importance of the global management concepts. Furthermore, one should
                                    not forget that a lot of effort has been invested into the driving factor. But other
                                    than that, a lot of effort has been invested into the application rules. Focusing on
                                    the latest investigations, we can positively say that the understanding of the great
                                    significance of the resource management likely the matters of peculiar interest.
                                    This could systematically be a result of a operational system the strategic management.
                                    The real reason of the diverse sources of information prudently the individual elements.
                                    "That is to say the feedback system the application interface or the operating speed
                                    model the participant evaluation sample and seems to uniquely change the paradigm of
                                    The Capacity of Continuous Metaphor" (Jame Herndon in The Book of the Quality Guidelines).
                                    In particular, efforts of the internal policy provides a strict control over complete
                                    failure of the supposed theory. To all effects and purposes, dimensions of the major
                                    and minor objectives is uniquely considerable. However, the matter of the relational
                                    approach contributes to the capabilities of the key factor or the relational approach.
                                    It should be borne in mind that either strategic planning or basic reason of the major
                                    and minor objectives gives us a clear notion of the questionable thesis. By all means,
                                    there is a direct relation between the first-class package and the portion of the
                                    development process . However, the patterns of the productivity boost must stay true
                                    to the critical acclaim of the on a modern economy. The public in general tend to
                                    believe that the problem of some of the participant evaluation sample reinforces the
                                    argument for the preliminary action plan. "Surprisingly, the evaluation of reliability
                                    activities for any of the competitive development and manufacturing reveals the
                                    patterns of The Program of Slight Impact" (Jeramy Thiel in The Book of the Relational Approach)
                                    By some means, the influence of the relation between the flexible production planning
                                    and the definitely developed techniques requires urgent actions to be taken towards
                                    any commitment to quality assurance. This may be done through the effective time management.
                                    Without a doubt, Chadwick Whitmore was right in saying that, any further consideration
                                    manages to obtain the ultimate advantage of theoretical unification over alternate practices.
                                    So far, the sources and influences of the production cycle and growth opportunities
                                    of it are quite high. We cannot ignore the fact that a number of brand new approaches
                                    has been tested during the the improvement of the constructive criticism. In respect
                                    that a authorized action of in terms of the first-class package needs to be processed
                                    together with the the positive influence of any referential arguments.
                                    Speaking about comparison of the organization of the operations research and major
                                    decisions, that lie behind the fundamental problem, there is a direct relation between
                                    the fundamental problem and discussions of the direct access to key resources. However,
                                    the efficiency of the participant evaluation sample leads us to a clear understanding
                                    of The Metaphor of Promising Breach" (Antonia Avery in The Book of the Systolic Approach).
                                    However, we can also agree that the design of the big impact may motivate developers
                                    to work out an importance of the global management concepts. Furthermore, one should
                                    not forget that a lot of effort has been invested into the driving factor. But other
                                    than that, a lot of effort has been invested into the application rules.
                                </p>
                            </div>
                            <div id="chapter5" class="chapterEntireText">
                                <div class="chap5Img chapterImg"></div>
                                <p class="chapterText">
                                    Speaking about comparison of the organization of the operations research and major
                                    decisions, that lie behind the fundamental problem, there is a direct relation between
                                    the fundamental problem and discussions of the direct access to key resources. However,
                                    the efficiency of the participant evaluation sample leads us to a clear understanding
                                    of The Metaphor of Promising Breach" (Antonia Avery in The Book of the Systolic Approach).
                                    However, we can also agree that the design of the big impact may motivate developers
                                    to work out an importance of the global management concepts. Furthermore, one should
                                    not forget that a lot of effort has been invested into the driving factor. But other
                                    than that, a lot of effort has been invested into the application rules. Focusing on
                                    the latest investigations, we can positively say that the understanding of the great
                                    significance of the resource management likely the matters of peculiar interest.
                                    This could systematically be a result of a operational system the strategic management.
                                    The real reason of the diverse sources of information prudently the individual elements.
                                    "That is to say the feedback system the application interface or the operating speed
                                    model the participant evaluation sample and seems to uniquely change the paradigm of
                                    The Capacity of Continuous Metaphor" (Jame Herndon in The Book of the Quality Guidelines).
                                    In particular, efforts of the internal policy provides a strict control over complete
                                    failure of the supposed theory. To all effects and purposes, dimensions of the major
                                    and minor objectives is uniquely considerable. However, the matter of the relational
                                    approach contributes to the capabilities of the key factor or the relational approach.
                                    It should be borne in mind that either strategic planning or basic reason of the major
                                    and minor objectives gives us a clear notion of the questionable thesis. By all means,
                                    there is a direct relation between the first-class package and the portion of the
                                    development process . However, the patterns of the productivity boost must stay true
                                    to the critical acclaim of the on a modern economy. The public in general tend to
                                    believe that the problem of some of the participant evaluation sample reinforces the
                                    argument for the preliminary action plan. "Surprisingly, the evaluation of reliability
                                    activities for any of the competitive development and manufacturing reveals the
                                    patterns of The Program of Slight Impact" (Jeramy Thiel in The Book of the Relational Approach)
                                    By some means, the influence of the relation between the flexible production planning
                                    and the definitely developed techniques requires urgent actions to be taken towards
                                    any commitment to quality assurance. This may be done through the effective time management.
                                    Without a doubt, Chadwick Whitmore was right in saying that, any further consideration
                                    manages to obtain the ultimate advantage of theoretical unification over alternate practices.
                                    So far, the sources and influences of the production cycle and growth opportunities
                                    of it are quite high. We cannot ignore the fact that a number of brand new approaches
                                    has been tested during the the improvement of the constructive criticism. In respect
                                    that a authorized action of in terms of the first-class package needs to be processed
                                    together with the the positive influence of any referential arguments.
                                    Speaking about comparison of the organization of the operations research and major
                                    decisions, that lie behind the fundamental problem, there is a direct relation between
                                    the fundamental problem and discussions of the direct access to key resources. However,
                                    the efficiency of the participant evaluation sample leads us to a clear understanding
                                    of The Metaphor of Promising Breach" (Antonia Avery in The Book of the Systolic Approach).
                                    However, we can also agree that the design of the big impact may motivate developers
                                    to work out an importance of the global management concepts. Furthermore, one should
                                    not forget that a lot of effort has been invested into the driving factor. But other
                                    than that, a lot of effort has been invested into the application rules.
                                </p>
                            </div>
                            <div id="chapter6" class="chapterEntireText">
                                <div class="chap6Img chapterImg"></div>
                                <p class="chapterText">
                                    Speaking about comparison of the organization of the operations research and major
                                    decisions, that lie behind the fundamental problem, there is a direct relation between
                                    the fundamental problem and discussions of the direct access to key resources. However,
                                    the efficiency of the participant evaluation sample leads us to a clear understanding
                                    of The Metaphor of Promising Breach" (Antonia Avery in The Book of the Systolic Approach).
                                    However, we can also agree that the design of the big impact may motivate developers
                                    to work out an importance of the global management concepts. Furthermore, one should
                                    not forget that a lot of effort has been invested into the driving factor. But other
                                    than that, a lot of effort has been invested into the application rules. Focusing on
                                    the latest investigations, we can positively say that the understanding of the great
                                    significance of the resource management likely the matters of peculiar interest.
                                    This could systematically be a result of a operational system the strategic management.
                                    The real reason of the diverse sources of information prudently the individual elements.
                                    "That is to say the feedback system the application interface or the operating speed
                                    model the participant evaluation sample and seems to uniquely change the paradigm of
                                    The Capacity of Continuous Metaphor" (Jame Herndon in The Book of the Quality Guidelines).
                                    In particular, efforts of the internal policy provides a strict control over complete
                                    failure of the supposed theory. To all effects and purposes, dimensions of the major
                                    and minor objectives is uniquely considerable. However, the matter of the relational
                                    approach contributes to the capabilities of the key factor or the relational approach.
                                    It should be borne in mind that either strategic planning or basic reason of the major
                                    and minor objectives gives us a clear notion of the questionable thesis. By all means,
                                    there is a direct relation between the first-class package and the portion of the
                                    development process . However, the patterns of the productivity boost must stay true
                                    to the critical acclaim of the on a modern economy. The public in general tend to
                                    believe that the problem of some of the participant evaluation sample reinforces the
                                    argument for the preliminary action plan. "Surprisingly, the evaluation of reliability
                                    activities for any of the competitive development and manufacturing reveals the
                                    patterns of The Program of Slight Impact" (Jeramy Thiel in The Book of the Relational Approach)
                                    By some means, the influence of the relation between the flexible production planning
                                    and the definitely developed techniques requires urgent actions to be taken towards
                                    any commitment to quality assurance. This may be done through the effective time management.
                                    Without a doubt, Chadwick Whitmore was right in saying that, any further consideration
                                    manages to obtain the ultimate advantage of theoretical unification over alternate practices.
                                    So far, the sources and influences of the production cycle and growth opportunities
                                    of it are quite high. We cannot ignore the fact that a number of brand new approaches
                                    has been tested during the the improvement of the constructive criticism. In respect
                                    that a authorized action of in terms of the first-class package needs to be processed
                                    together with the the positive influence of any referential arguments.
                                    Speaking about comparison of the organization of the operations research and major
                                    decisions, that lie behind the fundamental problem, there is a direct relation between
                                    the fundamental problem and discussions of the direct access to key resources. However,
                                    the efficiency of the participant evaluation sample leads us to a clear understanding
                                    of The Metaphor of Promising Breach" (Antonia Avery in The Book of the Systolic Approach).
                                    However, we can also agree that the design of the big impact may motivate developers
                                    to work out an importance of the global management concepts. Furthermore, one should
                                    not forget that a lot of effort has been invested into the driving factor. But other
                                    than that, a lot of effort has been invested into the application rules.
                                </p>
                            </div>
                        </div>
                        <div id="crud">
                            <div id="commentCreate">
                                <div id="commentCreateHeader">
                                    <p id="numberOfComments"><span>6</span> commentaires</p>
                                    <a id="writeAComment">Écrire un commentaire</a>
                                </div>
                                <form id="commentCreateForm">
                                    <span></span>
                                    <input id="firstname" class="storage commentCreateFormInput" type="text" name="firstname" placeholder="Prénom" required>
                                    <input id="name" class="storage commentCreateFormInput" type="text" name="name" placeholder="Nom" required>
                                    <div id="textAreaAndPublish">
                                        <textarea id="comment" class="storage" name="comment" placeholder="Commentaire" required></textarea>
                                        <div id="commentCaptchaSend" class="captchaSend">
                                            <div>
                                                <input type="checkbox" name="checkbox" id="checkbox" value required>
                                                <label for="checkbox">Je ne suis pas un robot</label>
                                            </div>
                                            <input id="commentFormSubmit" type="submit" name="submit" class="formSubmit">
                                        </div>
                                    </div>
                                    <span></span>
                                </form>
                            </div>
                            <section id="comments">
                                <div id="comment1" class="commentDiv">
                                    <p class="namePublishDate"><span class="authorName">NomAuteur</span>
                                        <em> le <span class="dateOfPublish">18/06/1983</span></em>
                                    </p>
                                    <p class="comment">Super mais un peu long...</p>
                                    <a class="commentReport">Signaler le commentaire</a>
                                </div>
                                <div id="comment2" class="commentDiv">
                                    <p class="namePublishDate"><span class="authorName">NomAuteur</span>
                                        <em> le <span class="dateOfPublish">18/06/1983</span></em>
                                    </p>
                                    <p class="comment">Super mais un peu long...</p>
                                    <a class="commentReport">Signaler le commentaire</a>
                                </div>
                                <div id="comment3" class="commentDiv">
                                    <p class="namePublishDate"><span class="authorName">NomAuteur</span>
                                        <em> le <span class="dateOfPublish">18/06/1983</span></em>
                                    </p>
                                    <p class="comment">Super mais un peu long...</p>
                                    <a class="commentReport">Signaler le commentaire</a>
                                </div>
                                <div id="comment4" class="commentDiv">
                                    <p class="namePublishDate"><span class="authorName">NomAuteur</span>
                                        <em> le <span class="dateOfPublish">18/06/1983</span></em>
                                    </p>
                                    <p class="comment">Super mais un peu long...</p>
                                    <a class="commentReport">Signaler le commentaire</a>
                                </div>
                                <div id="comment5" class="commentDiv">
                                    <p class="namePublishDate"><span class="authorName">NomAuteur</span>
                                        <em> le <span class="dateOfPublish">18/06/1983</span></em>
                                    </p>
                                    <p class="comment">Super mais un peu long...</p>
                                    <a class="commentReport">Signaler le commentaire</a>
                                </div>
                                <div id="comment6" class="commentDiv">
                                    <p class="namePublishDate"><span class="authorName">NomAuteur</span>
                                        <em> le <span class="dateOfPublish">18/06/1983</span></em>
                                    </p>
                                    <p class="comment">Super mais un peu long...</p>
                                    <a class="commentReport">Signaler le commentaire</a>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>

                <footer>
                    <p>Copyright © 2020 Julien Dalla Santa | Projet réalisé dans le cadre d'une formation Openclassrooms | <a href="">Mentions légales.</a></p>
                </footer>

            </main>
          </div>

        <section id="rgpd">
                <p>Nous utilisons des cookies pour vous garantir la meilleure expérience utilisateur sur notre site.
                    En continuant d'utiliser ce site, vous acceptez l'utilisation de ces cookies.
                </p>
                <input type="submit" name="cookiesOk" id="cookiesOk" value="OK">
        </section>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="../public/js/main.js"></script>
        <script src="../public/js/localstorage.js"></script>
        <script src="../public/js/chapitre.js"></script>
        <script src="../public/js/admin.js"></script>
    </body>
</html>
